*{
  box-sizing: border-box;
  font-family: 'Press Start 2P',cursive;
}

.screen{
  height: 469px;
  width: 835px;
  min-width: 56.25%;
  min-height:55.63;
  margin: 0 auto;
  position: relative;
  z-index: 1;
  top: 90px;

}

#newGameBtn, #instructionsBtn{
height: 40px;
border-radius: 10px;
margin-top:100px;
margin-left: 20px;
background-color: lightGrey;
color:red;
font-weight: 400;
border: 2px solid black;
}

.instructions{
  background: white;
  border: 2px solid black;
  border-radius: 10px;
}

.instructions > p{
  line-height: 20px;
  font-size: 15px;
}

.screen > img {
  position: fixed;
  margin-right: auto;
  z-index: -1;
  height: 469px;
  width: 835px;
  margin: 0 auto;
  opacity :0;
  animation-name: screenFadeInOut;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  animation-duration: 5s;
  -webkit-transition: opacity 6s ease-in-out;
  -moz-transition: opacity 6s ease-in-out;
  -o-transition: opacity 6s ease-in-out;
  transition: opacity 6s ease-in-out;

}
@-webkit-keyframes screenFadeInOut {
  0% {
    opacity:0;
  }
  50% {
    opacity:1;
  }

  100% {
    opacity:1;
  }
}

@keyframes screenFadeInOut {
  0% {
    opacity:0;
  }
  50% {
    opacity:1;
  }

  100% {
    opacity:1
  }
}

.secondImage {
  animation-delay: 5s;
  -webkit-animation-delay: 5s

}

#startTV{
  background-color: red;
  position:relative;
  float:right;
  margin-right: 282px;
  margin-top: 117px;
}

#startTV:hover {
  background-color: white;

}

.loadingPage{
  position: fixed;
  width:50%;
  height: 50%;
  margin-left: 400px;
  margin-top: 200px;
}

.loadingPage > img{
  height:200px;
  margin:auto;
  /* width: 10% */

}

#loadGame{
  animation-name: flash;
  width: 30%;
  margin-left: 220px;
  background-color: red;
  border-color: black;

}


@keyframes flash {
  from,
  50%,
  to {
    opacity: 1;
  }

  25%,
  75% {
    opacity: 0;
  }
}



#startbg{
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
  z-index: -1;
}

.gamePage{
  display: inline-block;
}


#scoreboard, #timer{
  position: relative;
  width: 185px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color:white;
  border-radius: 10px;
  z-index: 2;
  margin: auto;
}

/* .introLeft{
 width: 500px
} */

#grid{
  background-image: url('../images/grass2.png');
  background-repeat: repeat;
  width: 400px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 120px 500px;
  border-radius: 10px;
  z-index: 1;

  }

#grid div{
  width: 10%;
  height: 10%;
  display: inline-block;
  }


.hidden{
  display:none;
}



.lumberjack, .lumberjackLeft, .lumberjackRight, .lumberjackAttack, .lumberjackAttackLeft, .lumberjackAttackRight, .tree, .bear, .bearAttack, .bearHurt{
  height: 100px;
  width: 100px;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 2;
}

.lumberjack{
  background-image: url('../images/lumberjack.gif');
}


.lumberjackLeft{
  background-image: url('../images/lumberjackLeft.gif');

}

.lumberjackRight{
  background-image: url('../images/lumberjackRight.gif');
}


.lumberjackAttack{
  background-image: url('../images/lumberjack_attack.gif');

}
.lumberjackAttackRight{
  background-image: url('../images/lumberjack_attack.gif');


}
.lumberjackAttackLeft{
  background-image: url('../images/lumberjackThrowLeftLoop.gif');

}
.lumberjackHurt{
  background-image: url('../images/lumberjackFront.');

}
.bear{
  background-image: url('../images/BearWalk.gif');
}
.bearAttack{
  background-image: url('../images/BearGrabLOOP.gif');
  z-index: 1;

}

.bearHurt{
  background-image: url('../images/BearGrabFlippedLOOP.gif');
  z-index: 1;
}
.tree {
  background-image: url('../images/tree.png');
}
.pinecone{
  background-image: url('../images/pinecone.png');
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 1;
}

#lifebar{
  height:20px;
  margin: auto;
  text-align: right;
  width: 200px;
  z-index: 2;
  }

  img{
    height: 20px;
  }

.messageBox {
  width: 40%;
  height: 20px;
  text-align: center;
  font-size: 10px;
  background-color: white;
  border: 2px solid black;
  color: dodgerBlue;
  border-radius: 10px;
  margin:auto;

  }

.gameOverPage > p{

  font-size:4em;
  text-align:center;
  color: white;
  margin-top: 300px;
  animation-name: flash;
}
