*{
  box-sizing: border-box;
  }


#grid{
  width: 500px;
  height: 500px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  }

#grid div{
  border: 1px solid thistle;
  width: 50px;
  height: 50px;
  }

.tree {
  background-color: olive;
  }
.bear{
  background-image: url('../images/enemyBear.gif');
  background-color: brown;
  height: 100px;
  width: 100px;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 1;
 }

.lumberjack{
  background-image: url('../images/test-bear.jpeg');
  height: 100px;
  width: 100px;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 2;
}

.pinecone{
  background-image: url('../images/pinecone.png');
  background-size: cover;
  z-index: 1;
}
